table {
  border: 1px solid black;
  margin: 40px 40px 40px 60px;
  border-collapse: separate;
}

table,
#result,
.num_btn,
.op_btn,
#equal,
#back,
#clear,
#history_box button,
#history_list {
  border-radius: 5px;
}

th,
td {
  padding: 5px;
}

.num_btn {
  background-color: rgb(245, 240, 233);
}
.op_btn,
#equal  {
  background-color: rgb(236, 255, 255);
}
#back,
#clear {
  background-color: rgb(250, 215, 215) ;
}

.num_btn,
.op_btn,
#equal,
#back,
#clear {
  padding: 10px;
  width: 50px;
  height: 50px;
}

#result {
  height: 47px;
  width: 110px;
  border: 1px solid black;
  text-align: center;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#container {
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
}

#calculator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#history_list {
  list-style: none;
  padding: 0;
  display: none;
  margin-top: 20px;
  height: 250px;
  width: 200px;
  border: 1px solid black;
  text-align: center;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-y:auto
}

#history_box button {
  border: 1px solid white;
  color: white;
  margin-right: 40px;
  width: 80px;
  height: 30px;
}

#history_box {
  margin: 40px 40px 0 0 ;
}

#history_btn {
  background-color: deepskyblue;
}
#history_reset {
  background-color: orangered;
  display: none;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 20px 0 0 0;
  /* visibility: hidden; */
  display: none;
}







#test1 {
  width: 160px;
  height: 2rem;
  background-color: aquamarine;
}

#test2 {
  width: 10em;
  height: 32px;
  background-color: coral;
}

#test3 {
  width: 20rem;
  height: 32px;
  background-color: khaki;
}

#test4{
  width: 100%;
  height: 32px;
  background-color: yellowgreen;
}

#container2 {
  font-size: 32px;
  width: 30%;
}